@import "src/styles/mixins"
@import "src/styles/variables"

.close
  transform: translateX(1000px)

.mobile-menu
  position: absolute
  display: none
  top: 0
  right: 0
  background: #313945
  width: 320px
  z-index: 10
  height: 100vh
  color: #fff
  padding: 46px 55px
  @include transitionAllEase
  @include _834
    display: block
  @include _480
    width: 100%

  &__wrapper
    @include flex-between
    margin-bottom: 36px

  &__logo
    display: none
    width: 85px
    height: 39px
    filter: invert(100%)
    @include _480
      display: block

  &__close
    display: block
    margin-left: auto
    border: none
    background: none
    cursor: pointer

  &__item
    cursor: pointer
    border-bottom: 1px solid #1D2228
    text-align: center

    &:last-child
      border: none

  &__link
    display: block
    padding: 24px
    font: 18px Alegreya-700, sans-serif
    line-height: 24px
    color: $white
    @include transitionAllEase

    &:hover
      color: $primaryColor

  &__footer
    position: absolute
    width: 100%
    bottom: 46px
    left: 50%
    text-align: center
    transform: translateX(-50%)

    &-title
      font: 12px Roboto-700, sans-serif
      line-height: 18px
      color: #A8B0BC

    &-phone
      font: 24px Alegreya-900, sans-serif
      line-height: 32px
      color: $white
      @include transitionAllEase

      &:hover
        color: $primaryColor

    &-time
      font-size: 12px
      line-height: 18px
      color: #A8B0BC

    &-lang
      display: none
      font: 12px Alegreya-700, sans-serif
      line-height: 16px
      text-transform: uppercase
      @include _600
        display: block
