@import "src/styles/mixins"
@import "src/styles/variables"

.header__menu
  position: relative
  @include _834
    display: none

  &-list
    @include flex-between
    column-gap: 60px
    @include _1170
      column-gap: 30px
    @include _979
      column-gap: 20px

  &-item
    text-transform: uppercase
    font: 18px Alegreya-900, sans-serif
    line-height: 24px
    cursor: pointer
    @include transitionAllEase
    @include _979
      font-size: 16px


    &:hover
      color: $primaryColor