@import "src/styles/mixins"
@import "src/styles/variables"

.header__info
  @include flex-center

  &-icon-container
    position: relative
    width: 40px
    height: 40px
    @include _480
      width: 32px
      height: 32px


  &-counter
    position: absolute
    @include flex-center
    top: -10px
    right: -5px
    width: 20px
    height: 20px
    background-color: $primaryColor
    border-radius: 100%
    color: $white
    font-size: 11px

  &-icon
    width: 100%

  &-block
    margin-left: 12px
    @include _979
      margin-left: 6px

  &-title
    margin-bottom: 6px
    font: 18px Alegreya-900, sans-serif
    text-transform: uppercase
    cursor: pointer
    @include transitionAllEase
    @include _979
      font-size: 16px
    @include _834
      display: none

    &_link
      display: block
      font-size: 24px
      @include _979
        font-size: 20px
      @include _834
        display: none

    &:hover
      color: $primaryColor

  &-subtitle
    font-size: 12px
    color: #848A9A
    @include _979
      font-size: 10px
    @include _834
      display: none


