@import "src/styles/mixins"

.main-section
  position: relative
  padding: 62px 0


  &__bg
    position: absolute
    right: 0
    top: 0
    width: 1000px
    z-index: -1
    @media (max-width: 1470px)
      top: 60px
      width: 800px
    @media (max-width: 1220px)
      width: 600px
    @media (max-width: 1020px)
      width: 400px
    @include _480
      width: 300px
      top: 10px

  &__inner
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-top: 143px
    @media (max-width: 1220px)
      padding-top: 45px
    @include _834
      padding-top: 245px
      align-items: stretch
      max-width: 450px
      margin: 0 auto
    @include _480
      padding-top: 155px

  &__title
    font: 72px Alegreya-900, sans-serif
    margin-bottom: 12px
    @media (max-width: 1220px)
      font-size: 60px
    @include _834
      align-self: center
    @include _768
      font-size: 50px
    @include _600
      font-size: 40px

  &__description
    margin-bottom: 32px
    max-width: 441px
    font-size: 24px
    line-height: 36px
    @media (max-width: 1220px)
      font-size: 20px
      line-height: 25px
    @include _834
      margin-bottom: 24px
      align-self: center
      font-size: 18px
      text-align: center
    @include _768
      font-size: 16px

  &__btn
    padding: 14px