@import "src/styles/mixins"

.about-section
  position: relative
  padding: 100px 0 112px
  @include _834
    padding: 84px 0
  @include _480
    padding: 20px 0 60px

  &__inner
    display: flex
    flex-direction: column
    align-items: center

  &__card
    @include flex-center
    column-gap: 32px
    margin-bottom: 40px
    @include _834
      column-gap: 42px
    @include _600
      align-items: flex-start
    @include _480
      column-gap: 17px

    &-img
      border-radius: 130px
      @include _834
        width: 243px
        border-radius: 104px
      @include _600
        width: 200px
        border-radius: 88px
      @include _480
        width: 77px
        border-radius: 30px

      &_reverse
        order: 2


    &-wrapper
      max-width: 416px
      width: 100%
      @include _600
        order: 2


    &-title
      margin-bottom: 12px
      font: 32px Alegreya-800, sans-serif
      line-height: 40px
      @include _834
        font-size: 24px
        line-height: 30px
      @include _480
        font-size: 20px
        line-height: 25px

    &-description
      font-size: 14px
      line-height: 21px
      @include _480
        font-size: 12px
        line-height: 18px