@import "fonts"
@import "variables"
@import "mixins"

*, *::after, *::before
  padding: 0
  margin: 0
  box-sizing: border-box

body
  position: relative
  font: 16px Roboto-400, sans-serif
  overflow-x: hidden

ul
  list-style: none

a
  text-decoration: none
  color: $black

.container
  max-width: 1330px
  width: 100%
  margin: 0 auto
  padding: 0 5px
  @include _1170
    padding: 0 10px
  @include _834
    padding: 0 32px
  @include _480
    padding: 0 16px

.active
  color: $primaryColor
  fill: $primaryColor
