//MEDIA
@mixin _1170
  @media (max-width: 1170px)
    @content

@mixin _979
  @media (max-width: 979px)
    @content

@mixin _834
  @media (max-width: 834px)
    @content

@mixin _768
  @media (max-width: 768px)
    @content

@mixin _600
  @media (max-width: 600px)
    @content

@mixin _480
  @media (max-width: 480px)
    @content

@mixin _350
  @media (max-width: 350px)
    @content


//TRANSITION
@mixin transitionAllEase
  transition: all 0.3s ease

//FLEX
@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin flex-between
  display: flex
  justify-content: space-between
  align-items: center