@import "../../../styles/mixins"
@import "../../../styles/variables"

.button
  position: relative
  display: block
  padding: 18px 70px
  font: 18px Alegreya-900, sans-serif
  color: $white
  background-color: $primaryColor
  border-radius: 5px
  border: 3px solid transparent
  cursor: pointer
  text-transform: uppercase
  @include transitionAllEase
  overflow: hidden

  &__inner
    position: relative
    z-index: 2

  &::before
    content: ""
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    height: 0
    width: 100%
    border-radius: 5px
    background: $hoverButtonBgColor
    z-index: 1
    @include transitionAllEase

  &:hover
    background-color: $hoverButtonBgColor
    border-color: $hoverButtonBgColor

    &::before
      height: 200%

  &:active
    background-color: $activeButtonBgColor

  &:focus
    border-color: $focusBorder


  &:disabled
    background-color: $disabledButtonBgColor
    border-color: $disabledButtonBgColor
    color: $disabledButtonColor
