@import "src/styles/mixins"
@import "src/styles/variables"

.promo-section
  position: relative
  padding: 200px 0 100px
  @include _979
    padding-top: 50px

  &__list
    overflow-x: hidden
    @include _768
      -ms-overflow-style: none
      scrollbar-width: none
      max-width: 320px
      margin: 0 auto

    &_overflow-auto
      overflow-x: auto

    &::-webkit-scrollbar
      @include _768
        display: none

    &-inner
      position: relative
      display: flex
      align-items: flex-start
      gap: 31px
      margin: 0 auto
      @include _768
        width: 962px

    &-dots
      display: none
      justify-content: center
      gap: 8px
      margin-top: 20px
      @include _768
        display: flex

    &-dot
      width: 12px
      height: 12px
      background-color: #DFE3EB
      border-radius: 100%
      cursor: pointer

      &_active
        background-color: $primaryColor

  &__card
    flex-grow: 1

  &__img
    display: block
    width: 100%
    margin-bottom: 12px
    @include _768
      width: 100%


  &__title
    margin-bottom: 14px
    font: 24px Alegreya-800, sans-serif
    line-height: 30px
    @include _834
      font-size: 20px
      line-height: 25px

  &__description
    font-size: 14px
    line-height: 21px
