@import "src/styles/mixins"
@import "src/styles/variables"

.backdrop
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba($black, 0.5)
  opacity: 0
  z-index: -1


  &_show
    z-index: 100
    opacity: 1
    @include transitionAllEase

.modal
  position: fixed
  padding: 32px 32px 40px
  margin: 20px 0
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border-radius: 5px
  background-color: $white
  max-width: 704px
  max-height: 900px
  width: 100%
  overflow-y: auto
  z-index: 100
  @include transitionAllEase
  opacity: 0


  &__header
    @include flex-between
    padding-bottom: 24px
    border-bottom: 1px solid #DCDFE2

  &__title
    font: 32px Alegreya-800, sans-serif
    line-height: 40px

  &__close
    width: 40px
    height: 40px
    background: none
    border: none
    cursor: pointer

    &-img
      filter: invert(100%)

  &__item
    position: relative
    @include flex-between
    padding: 24px 0
    border-bottom: 1px solid #DCDFE2
    @include _480
      flex-direction: column
      row-gap: 10px

  &__pizza
    position: relative
    display: flex
    align-items: center
    column-gap: 12px
    @include _480
      flex-direction: column

    &-type
      max-width: 83px
      width: 100%

    &-icon
      position: absolute
      left: -15px
      width: 12px
      height: 12px

    &-img
      width: 100%

    &-name
      margin-bottom: 4px
      font: 18px Alegreya-800, sans-serif
      line-height: 24px

    &-size
      font-size: 12px
      line-height: 18px

  &__counter
    @include flex-center
    column-gap: 8px
    max-width: 124px
    width: 100%

    &-minus, &-plus
      @include flex-center
      width: 24px
      height: 24px
      border-radius: 100%
      border: none
      background-color: #C5CBD5
      cursor: pointer

    &-field
      text-align: center
      padding: 11px 18px
      border: 1px solid #C4C7CA
      border-radius: 4px
      width: 60px
      outline: none

      &:focus-visible
        border: 1px solid $focusBorder

  &__cost
    font: 18px Alegreya-800, sans-serif
    line-height: 24px

  &__remove
    position: absolute
    top: 10px
    right: 0
    background: none
    border: none
    width: 24px
    height: 24px
    cursor: pointer
    align-self: flex-start

    &-img
      width: 100%
      filter: invert(40%)

  &__total
    margin-top: 8px
    font: 18px Alegreya-800, sans-serif
    line-height: 24px
    text-align: right
    @include _480
      margin-bottom: 20px
      text-align: center

    span
      margin-left: 20px
      font-size: 32px
      line-height: 43px
      @include _350
        font-size: 20px
        line-height: 25px
        margin-left: 5px

  &__form
    position: relative

    &-wrapper
      margin-bottom: 32px

    &-title
      margin-bottom: 12px
      font: 18px Alegreya-800, sans-serif
      line-height: 24px
      @include _480
        margin-bottom: 16px


    &-input-wrapper
      display: flex
      column-gap: 32px
      margin-bottom: 24px
      @include _480
        flex-direction: column
        row-gap: 15px
        margin-bottom: 15px

    &-radio-wrapper
      display: flex
      flex-direction: column
      row-gap: 16px
      margin-bottom: 32px

    &-submit
      margin-bottom: 23px
      @include _480
        font-size: 16px
        padding: 10px 25px

    &-politic
      font-size: 12px
      line-height: 18px
      color: #848A9A
      @include _350
        text-align: center


.open
  top: 50%
  opacity: 1
  @include transitionAllEase

.close
  top: -150%
  opacity: 0
  transition: all 1s ease
