@import 'src/styles/mixins'
@import 'src/styles/variables'

.header
  position: relative
  padding-top: 49px
  @include _834
    padding-top: 34px
  @include _480
    padding-top: 13px

  &__hamburger
    display: none
    cursor: pointer
    background: none
    border: none
    @include _834
      display: block

  &__logo-container
    width: 182px
    @include _1170
      width: 130px
    @include _480
      width: 85px

  &__logo
    width: 100%

  &__inner
    @include flex-between

  &__info-container
    display: flex
    align-items: center
    gap: 60px
    @include _1170
      gap: 15px


  &__lang
    @include flex-center
    padding: 12px
    font: 18px Alegreya-900, sans-serif
    text-transform: uppercase
    background-color: #EFF0F1
    border-radius: 100%
    cursor: pointer
    @include transitionAllEase
    @include _480
      display: none

    &:hover
      color: $primaryColor