@import "src/styles/mixins"
@import "src/styles/variables"

.field
  position: relative
  display: block
  width: 100%
  background: transparent
  border-radius: 4px

  &__label
    position: relative

  &__input
    padding: 13px
    background: transparent
    border: 1px solid #C4C7CA
    outline: none
    width: 100%
    @include transitionAllEase
    border-radius: 4px

    &:hover
      border-color: $black

    &:focus
      border-color: #3F8FE5

      + span
        color: #3F8FE5


    &:active
      border-color: #3F8FE5

    &:disabled
      background-color: #EEF0F3
      border-color: #EEF0F3

    &:invalid
      border-color: #FB7A7A

      + span
        color: #FB7A7A

    &-placeholder
      position: absolute
      top: 50%
      left: 12px
      color: #A6A6A6
      cursor: text
      transform: translateY(-50%)
      z-index: -1
      @include transitionAllEase


.focused
  padding: 0 12px
  top: 0
  font-size: 13px
  line-height: 18px
  background-color: #fff
  z-index: 1
