@import "src/styles/mixins"
@import "src/styles/variables"

.footer
  position: relative
  padding: 35px 0
  background-color: $black
  color: $white

  &__inner
    @include flex-between
    @include _600
      flex-direction: column
      row-gap: 25px
      &:last-child
        row-gap: 10px

  &__logo
    width: 112px
    filter: invert(100%)
    @include _834
      width: 89px

  &__info
    flex-grow: 1
    margin-left: 100px
    @include _834
      flex-grow: 0
      margin-left: 0


  &__phone
    margin-bottom: 6px
    font: 24px Alegreya-800, sans-serif
    line-height: 30px
    color: $white
    @include transitionAllEase

    &:hover
      color: $primaryColor

  &__time, &__politic
    font-size: 12px
    line-height: 18px
    @include _600
      text-align-last: center

  &__politic
    color: $white
    @include transitionAllEase

    &:hover
      color: $primaryColor