@import "src/styles/mixins"
@import "src/styles/variables"

.pizza-section
  position: relative
  padding-bottom: 100px

  &__title
    margin-bottom: 55px
    font: 52px Alegreya-900, sans-serif
    line-height: 65px
    text-align: center
    @include _834
      margin-bottom: 20px
      font-size: 40px
      line-height: 60px
    @include _600
      margin-bottom: 26px
      font-size: 28px
      line-height: 35px

  &__list
    @include flex-center
    gap: 40px
    margin-bottom: 40px
    @include _600
      column-gap: 28px

  &__item
    position: relative
    font: 18px Alegreya-900, sans-serif
    line-height: 24px
    cursor: pointer
    @include transitionAllEase

    &:hover
      color: $primaryColor

    &:hover &-icon
      top: -30px
      opacity: 1
      @include _600
        top: 0

    &-text
      display: block
      @include _600
        display: none

    &-icon
      position: absolute
      top: 0
      opacity: 0
      z-index: -1
      cursor: default
      left: 50%
      transform: translateX(-50%)
      @include transitionAllEase
      @include _600
        position: relative
        cursor: pointer
        opacity: 1
        z-index: 1
        &:hover
          fill: $primaryColor


  &__inner
    gap: 30px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    @media (max-width: 1300px)
      grid-template-columns: repeat(3, 1fr)
    @include _979
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 670px)
      grid-template-columns: 1fr


  &__card
    position: relative
    display: flex
    flex-direction: column
    padding: 40px 20px
    border-radius: 5px
    box-shadow: 0 2px 5px 0 rgba(165, 169, 176, 0.3)
    @include _480
      flex-direction: row
      column-gap: 10px
      padding: 10px

    &-icon
      opacity: 0
      @include transitionAllEase
      @include _480
        width: 20px

    &:hover &-title
      color: $primaryColor

    &:hover &-icon
      opacity: 1

    &-icon-wrapper
      position: absolute
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      row-gap: 10px
      top: 20px
      @include _480
        top: auto
        bottom: 8px
        left: 10px


    &-wrapper
      position: relative
      @include flex-center
      margin-bottom: 8px
      width: 100%
      @include _480
        align-items: flex-start

    &-border
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 140px
      height: 140px
      border-radius: 100%
      border: 0.7px dashed #DCDFE2
      z-index: -1
      @include _480
        top: 24%
        width: 58px
        height: 58px

      &_md
        width: 170px
        height: 170px
        @include _480
          width: 70px
          height: 70px

      &_lg
        width: 200px
        height: 200px
        @include _480
          width: 83px
          height: 83px

    &-container
      @include flex-center
      width: 200px
      height: 200px
      @include _480
        width: 83px
        height: 83px

    &-img
      filter: drop-shadow(1px 1px 27px rgba(115, 105, 99, 0.5))
      @include _480
        width: 83px

    &-title
      margin-bottom: 6px
      font: 24px Alegreya-800, sans-serif
      line-height: 30px
      text-align: center
      @include transitionAllEase
      @include _834
        font-size: 20px
        line-height: 27px
      @include _480
        font-size: 19px
        line-height: 24px
        text-align: left

    &-recipe
      margin-bottom: 8px
      font-size: 12px
      line-height: 18px
      color: #848A9A
      text-align: center
      @include _480
        font-size: 11px
        line-height: 16px
        text-align: left


  &__size
    margin-bottom: 12px
    text-align: center
    @include _480
      text-align: left

    &-title
      margin-bottom: 4px

    &-wrapper
      position: relative
      @include flex-between
      max-width: 182px
      margin: 0 auto
      padding: 2px
      border-radius: 4px
      background-color: #EFF0F1
      @include _480
        max-width: 164px

    &-pointer
      position: absolute
      width: 58px
      top: 4px
      bottom: 4px
      border-radius: 2px
      cursor: pointer
      z-index: 1
      background-color: $white
      @include transitionAllEase

    &-diameter
      padding: 5px 0
      width: 58px
      border-radius: 2px
      cursor: pointer
      font: 12px Roboto-700, sans-serif
      line-height: 18px
      color: #82909F
      text-align: center
      @include transitionAllEase
      z-index: 2

      &_active
        background-color: $white

  &__cost
    display: block
    margin-bottom: 12px
    font: 24px Roboto-700, sans-serif
    line-height: 30px
    text-align: center
    @include _480
      display: none

  &__btn
    margin: 0 auto
    padding-top: 14px
    padding-bottom: 14px
    @include _834
      font-size: 16px
      line-height: 20px
    @include _480
      padding: 2px 24px
      margin: 0

    &-inner_cost
      display: none
      @include _480
        display: block
        font-family: Roboto-500, sans-serif


    &-inner_order
      display: block
      @include _480
        display: none