@import "src/styles/mixins"
@import "src/styles/variables"

.delivery-section
  position: relative
  background-color: #F8F6F3
  padding: 72px 0 80px

  &__title
    margin-bottom: 26px
    font: 52px Alegreya-900, sans-serif
    line-height: 65px
    text-align: center
    @include _834
      margin-bottom: 20px
      font-size: 40px
      line-height: 60px
    @include _480
      margin-bottom: 12px
      font-size: 28px
      line-height: 35px

  &__wrapper
    display: flex
    column-gap: 32px
    @include _768
      flex-direction: column
      row-gap: 12px


  &__card
    display: flex
    align-items: center
    column-gap: 24px
    flex-grow: 1
    padding: 32px 24px
    background-color: $white
    box-shadow: 0 2px 5px 0 rgba(199, 193, 168, 0.3)
    border-radius: 5px
    @include _1170
      column-gap: 10px
    @include _979
      row-gap: 14px
      align-items: flex-start
      flex-direction: column
    @include _768
      flex-direction: row


    &-title
      margin-bottom: 6px
      font: 24px Alegreya-800, sans-serif
      line-height: 30px
      @include _1170
        font-size: 20px
        line-height: 27px
      @include _480
        font-size: 18px
        line-height: 24px

    &-description
      max-width: 264px
      font-size: 12px
      line-height: 18px
