@import "src/styles/mixins"
@import "src/styles/variables"

.radio-button
  position: relative
  cursor: pointer
  margin-left: 28px

  input[type=radio]
    display: none

  &:hover &__wrapper
    border-color: $black

  &:hover &__wrapper_disabled
    border-color: #B2B2B2

  &__wrapper
    position: absolute
    top: -2px
    left: -20px
    width: 20px
    height: 20px
    border-radius: 100%
    border: 1px solid #C4C7CA
    @include transitionAllEase

    &_disabled
      background-color: #F1F1F1
      border-color: #B2B2B2

      &::after
        content: ""
        display: none

    &_checked
      border: 2px solid #363D44

      &::after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 10px
        height: 10px
        border-radius: 100%
        z-index: 2
        background-color: $primaryColor

  &__title
    display: block
    margin-left: 8px

    @include _480
      font-size: 12px
      line-height: 20px
