@import "src/styles/mixins"

.gallery-section
  position: relative

  &__title
    margin-bottom: 13px
    font: 52px Alegreya-900, sans-serif
    line-height: 65px
    text-align: center
    @include _834
      margin-bottom: 0
      font-size: 40px
      line-height: 60px
    @include _480
      font-size: 28px
      line-height: 35px

  &__instagram
    margin-bottom: 46px
    font: 24px Alegreya-800, sans-serif
    line-height: 30px
    text-align: center
    color: #848A9A
    @include _834
      margin-bottom: 20px
      font-size: 20px
      line-height: 30px
    @include _480
      font-size: 16px
      line-height: 24px


  &__gallery
    display: grid
    grid-template-columns: repeat(5, 1fr)
    @include _834
      grid-template-columns: repeat(3, 1fr)
    @include _480
      grid-template-columns: repeat(2, 1fr)


    &-item
      width: 100%
      @include _834
        &:nth-child(n+7)
          display: none
      @include _480
        &:nth-child(n+5)
          display: none
